body {
    margin: auto;
    color: rgb(86, 112, 112);
    background-image: url('../assets/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body.dark-mode {
    background-image: url('../assets/backgroundNight.svg');
}


.main-nav {
    position: sticky;
    top: 0;
    background-color: #333;
    padding: 10px 20px;
    z-index: 100;
}

.toggle-dark-mode-button {
    text-align: right;
    position: sticky;
    top: 38px;
    background-color: #333;
    padding: 10px 20px;
    z-index: 100;
}

.home,
.project,
.about,
.contact {

    min-height: 100vh;
    width: 100%;

}