@import '../components/Layout/Header/style';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@400;600&display=swap');

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body {
 font-family: 'Poppins', sans-serif;
    background-image: url('../assets/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
 
}

body.dark-mode {
    background-image: url('../assets/backgroundNight.svg');
}


/* Configuration de base pour chaque section/page */
.page {

  min-height: 100vh;
 // min-width: 100vw; 

  display: flex;
  justify-content: center; 

}

